.header {
  text-align: end;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 1150px;
  }

  &__item {
    text-decoration: none;
    color: black;
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 56px;
    width: 56px;
  }

  &__content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
